<% if @schools.size > 0 %>
  <% @schools.each do |o_row| %>
    <tr>
      <td><%= o_row.name %></td>
      <td><%= o_row.email %></td>
      <td><%= o_row.owner %></td>
      <td><%= o_row.city %></td>
      <td><%= o_row.state %></td>
      <td><%= link_to t('general.edit'), edit_school_path(o_row), :class => 'btn btn-mini' %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="5">
      <div class="alert alert-danger tc">
        <%= t("general.record_not_found") %>
      </div>
    </td>
  </tr>
<% end %>  
